body {
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #9bc405;
}

main {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  background-color: #9bc405;
  border: solid 5px black;
}

.game-state {
  position: absolute;
  left: 0;
  white-space: break-spaces;
  top: 0;
}
