@font-face {
  font-family: "nokia";
  src: url("../assets/fonts/nokiafc22.ttf") format("truetype"); /* IE9 Compat Modes */
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #9bc405;

  font-family: "nokia", sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  background-color: #9bc405;
  border: solid 5px black;
}

label {
  font-size: 36px;
  margin-bottom: 10px;
}

button {
  transition: all 0.2s;
  cursor: pointer;
  outline: none;
}

.game-state {
  position: absolute;
  left: 0;
  white-space: break-spaces;
  top: 0;
}

.menu-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: all 0.2s;
}

.menu-container.closed {
  visibility: hidden;
  opacity: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.nickname {
  height: 60px;
  width: 260px;
  padding: 0 20px;

  background-color: transparent;
  border: solid 5px black;

  font-family: "nokia", sans-serif;
  font-size: 40px;

  outline: none;
}

.play {
  margin-top: 30px;
  height: 60px;
  /* width: 260; */
  padding: 0 20px;

  background-color: transparent;
  border: solid 5px black;

  font-family: "nokia", sans-serif;
  font-size: 36px;
}

.close {
  padding: 10px 20px;
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "nokia", sans-serif;
  font-size: 36px;

  border: none;
  background-color: transparent;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
}

.color-selector-container {
  max-width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap: 10px;
}

.color-label {
  display: block;
  height: 40px;
  width: 40px;

  cursor: pointer;
  transition: all 0.2s;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  border: solid 5px white;
  transform: scale(1.2);
}

.score-container {
  width: 100%;
  height: 55px;
  max-width: 1000px;
  margin-bottom: 10px;
  display: flex;
  border-bottom: solid 5px black;

  font-size: 40px;
}

.leader-board {
  width: 100%;
  max-width: 1000px;

  margin-top: 10px;
  height: 33px;
  font-size: 24px;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;

  visibility: hidden;
  opacity: 0;

  transition: opacity 0.2s;
}

.game-over.show {
  visibility: visible;
  opacity: 1;
}

/* Mobile disclaimer */

.mobile-disclaimer {
  display: none;
}

@media screen and (max-width: 1000px) {
  main {
    display: none;
  }

  .mobile-disclaimer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #9bc405;
  }

  .mobile-disclaimer p {
    font-size: 20px;
    text-align: center;
  }
}
